body 
{
    /*background-image: url("Images/crystal-ball.jpg");*/
    background-color: black;
    opacity: 1;
}
label
{
    color: white;
}
button
{
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.leftBars 
{
    display: none;
}
#resultsButton
{
    padding: 100px;
    display: none;
}
.jumbotron
{

    background-image: url("Images/crystal-ball.jpg");
    background-color: #3B0B29;
    color: white;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 50s infinite;
}

/* Standard syntax  - Got from W3Schools.org*/
@keyframes mymove {
    50% {background-position: right;}
}