@model IList<Homework7.Models.Gif>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Search for GIF's!!!</h1>
</div>
<script>
function update() {
    var query = document.getElementById("searchBar").value;
    var rating = 0;
    $.ajax({
        url: "/Home/Index",
        data: {
            q: query,
            rating: rating
        },
        dataType: "json",
        type: "POST",
        success: function (data) {
            $('.gif').remove();
            for (var i = 0; i < data.length; ++i)
            {
                $("#gifs").append("<img src=\"" + data[i].url + "\" width=\"" + data[i].width + "\" height=\"" + data[i].height + "\" class=\"gif\" />")
                $('#gifs img').css({
                    'width': 200,
                    'height': 200
                });
            }
        }
        
})
    }
</script>
<div class="container text-center">
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for something fun..." name="search" id="searchBar">
            <div class="input-group-btn">
                <asp:button class="btn btn-default" id="searchButton" onclick="update()"><i class="glyphicon glyphicon-search"></i></asp:button>
            </div>
        </div>
    </form>
</div>

<asp:UpdatePanel id="gifs">

</asp:UpdatePanel>

