@model IList<Homework7.Models.Gif>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Search for GIF's!!!</h1>
</div>
<div class="container text-center">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for something fun..." name="search" id="searchBar" onkeyup="enterCheck(event, this);">
            <div class="input-group-btn">
                <asp:button class="btn btn-default" id="searchButton" onclick="update()"><i class="glyphicon glyphicon-search"></i></asp:button>
            </div>
        </div>
    <!--Rating selection-->
    <input type="radio" id="y" name="radio">Y
    <input type="radio" id="g" name="radio">G
    <input type="radio" id="pg" checked="checked" name="radio">PG
    <input type="radio" id="pg-13" name="radio">PG-13
    <input type="radio" id="r" name="radio">R
</div>

<asp:UpdatePanel id="gifs">

</asp:UpdatePanel>

