h1
{
    color: #e60000;
    padding-bottom: 10px;
}
.jumbotron
{
    background-color: #e60000;
    color:#1a0000;
    padding: 10px;
}
.navbar-inverse 
{
    background-color: #803300;
}
a:hover 
{
    background-color: #ffb3b3;
}
body
{
    background-color: #b34700
}