@model Homework9.Models.UserModel.AllArt

@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model.GenreList)
{
    <button class="btn-default" onclick="displayList(@item.ID)">@item.NAME</button>
    <br />
}

<div id="Results">

</div>

<script>
    function displayList(clickedID) {
        $.ajax({
            url: '/Home/ShowArtList',
            method: 'GET',
            dataType: 'json',
            data: { 'ID': clickedID },
            success: function (data) {
                alert("succse!");
                for (var i = 0; i < data.length; ++i) {
                    $('#Results').append(data[i].Artwork);
                }
            },
            error: function (xhr, error, status) {
                alert("Failed");
            }
        });
    }
</script>