@model IEnumerable<HW6.Product>

@{
    ViewBag.Title = "ChosenCategory";
}

@{ 
    var mainCat = ViewBag.ProductCategories;
    var subCat = ViewBag.ProductSubcategories;
}



<h2>ChosenCategory</h2> <!--Change this to chosen sub category name-->

<table>
    <tr>
        <th>Product Name</th>
        <th>Product Photo</th>
    </tr>

    <!--Display list of items of the subcategory chosen-->
    @foreach (var item in Model)
    {

        <tr>
            <td>@Html.ActionLink(@item.Name, "Review", new { id = item.ProductID })</td>
        </tr>
        foreach (var photo in item.ProductProductPhotoes)
        {
        <tr>
            <td><img src="data:image;base64,@System.Convert.ToBase64String(photo.ProductPhoto.LargePhoto)" /></td>
        </tr>
        }
        foreach (var review in item.ProductReviews)
        {
            <tr>
                <td>@review.Comments</td>
            </tr>
        }
    }
</table>