@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the art gallery!</h1>
</div>

<div class="row container-fluid">
    <div class="col-md-3">
        <h2>Artists</h2>
        @Html.ActionLink("View Artists", "Index", "Artists")
    </div>
    <div class="col-md-3">
        <h2>Artwork</h2>
        @Html.ActionLink("View Works of Art", "Index", "Artworks")
    </div>
    <div class="col-md-3">
        <h2>Genres of Art</h2>
        @Html.ActionLink("View by Genre", "Index", "Genres")
    </div>
    <div class="col-md-3">
        <h2>Classifications of Art</h2>
        @Html.ActionLink("View by Classes", "Index", "Classifications")
    </div>
</div>