
@{
    ViewBag.Title = "Awesome_Calculator";
}

<h2>Let's figure out how awesome you are</h2>
<form method="post">
    <label for="name">What is your name?</label>
    <input type="text" name="name" value="" />
    <label for="age">How old are you?</label>
    <input type="number" name="age" value="" />
    <label for="gamesBeaten">How many Dark Souls games have you beaten?</label>
    <input type="number" name="gamesBeaten" value="" />
    <input type="submit" name="submit" value="Submit" />
</form>
