
@{
    ViewBag.Title = "Page_1";
}

<h2 class="jumbotron">This is Page 1</h2>
<form method="post">
    <label for="temp">What's the temperature right now?</label>
    <input type="text" name="temp" value="" />
    <label for="type">In Celsius or Farhenheit?</label>
    <input type="text" name="type" value="" />
    <input type="submit" name="submit" value="Submit" />
</form>
@if (ViewBag.temp != null && ViewBag.type != null)
{
    if(ViewBag.temp is double)
    {
        <p>Your converted temp is: @ViewBag.newTemp</p>
    }
}
@if(ViewBag.temp == null || ViewBag.type == null)
{
    <p>I can't work with nothing.</p>
}
