
@{
    ViewBag.Title = "Page_2";
}

<h2>Page_2</h2>

<h2 class="jumbotron">You've made it to Page 2</h2>
<!--Sets up the input form to accept the temperature and type from the user-->
<form method="post">
    <label for="temp">How warm is it?</label>
    <input type="text" name="temp" value="" />
    <label for="type">In Celsius or Farhenheit?</label>
    <input type="text" name="type" value="" />
    <input type="submit" name="submit" value="Submit" />
</form>

@if (ViewBag.newTemp != 0.12345)
{
    <p>Your converted temp is: @ViewBag.newTemp</p>
}