img 
{
    border-radius: 10px;
}
body 
{
    background-color: #173D57;
}
.jumbotron
{
    background-color: #326586;
    color: #B7E3FF
}
p, li
{
    color: #5D9AC4;
}
h1, h2, h3, h4, h5, h6 
{
    color: #6DC5FF;
}
a
{
    color: #6DC5FF;
}
a:hover 
{
    color: #6DC5FF;
}
img.thumbnail:hover
{
    background: #567992;
    opacity: 0.7;
}
.sidenav
{
    border: 3px solid #1C303F;
}
.showcase
{
    margin-bottom: 25px;
}
.rundown li
{
    padding-bottom: 10px;
}
xmp
{
    color: rgba(34, 167, 105, 0.56);
}
.thumbnail {
    align-content: left;
}
.summary {
    align-content: right;
    margin-left: 25px;
}